<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <!-- <link rel='stylesheet' href='/styles/styles.css' /> -->
        <title>Hair Salon</title>
    </head>
    <body>

        <div class="container">
            <h1>Welcome to Belinda's Hi-Class Hair Salon</h1>

            <p>Add a new stylist:</p>

            <form action="/stylists" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" name="name" type="text" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input id="phone" name="phone" type="number" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="specialty">Specialty:</label>
                    <input id="specialty" name="specialty" type="text" required>
                </div>
                <div class="form-group">
                    <label for='weekends'>Available for weekend cuts?</label>
                        <br>
                    <input type="radio" name="weekends" value="1" required>
                        Certainly <br>
                    <input type="radio" name="weekends" value="0" required>
                        Nope <br>
                </div>

                <button type="submit" class="btn btn-success">Add Stylist</button>
            </form>

            {% if stylists is not empty %}
                    <p>Belinda's Celebrated Stylists</p>
                    <ul>
                        {% for stylist in stylists %}
                            <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                        {% endfor %}
                    </ul>
            {% else %}
                <p>There are no stylists yet.</p>
            {% endif %}

            <form action="/" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit">Clear all stylists and clients</button>
            </form>
        </div>
    </body>
</html>
