<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <!-- <link rel='stylesheet' href='/styles/styles.css' /> -->
        <title>Edit stylist</title>
    </head>
    <body>
        <div class='container'>
            <h1>Update {{ stylist.getName }}'s Contact Info </h1>

            <form action="/stylists/{{ stylist.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <div class='form-group'>
                    <label for="phone">New Phone Number:</label>
                    <input id="phone" name="phone" type="number" maxlength="10" required>
                </div>
                <button type="submit" class='btn btn-success'>Update</button>
            </form>

            <form action="/stylists/{{ stylist.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit">Fire this stylist</button>
            </form>
        </div>
    </body>
</html>
